<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>R.Fabrão - Resumo</title>

    <!-- Bootstrap core CSS -->
    <link href="../styles/css/bootstrap.css" rel="stylesheet">
      
    <!-- Custom styles for this template -->
    <link href="../styles/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="../styles/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="../scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/smoothscroll.js"></script> 
    <script src="../scripts/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="Sobre"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resumo"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Trabalhos"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contato"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Renan V. Fabrão</h1>
					<h3>Engenheiro da Computação | renan.fabrao@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>SOBRE</h5>
				</div>
				<div class="col-lg-6">
					<p>Sou engenheiro da computação recém graduado pela UTFPR, com participação acadêmica em projetos de hardware development e full stack development. <br />Em programas de estágio aprimorei habilidades de levantamente de requisitos e desenvolvimento full stack em projetos web e desktop. <br />Possuo perfil autodidata, exigente, organizado e me encontro sempre em busca por novos desafios. Tenho total disponibilidade para mudança e viagens.</p>
				</div>
				<div class="col-lg-3">
					<p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>FORMAÇÃO ACADÊMICA</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Mestrado em BioInformática</t><br/>
                        Universidade Tecnológica Federal do Paraná <br/>
						<i>2 Anos de Curso</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>FORMAÇÃO EM AGO 2018</sm><br/>
					<imp><sm>CURSANDO</sm></imp>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Engenharia da Computação</t><br/>
						Universidade Tecnológica Federal do Paraná <br/>
						<i>5 Anos de Curso</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>ABR 2016</sm></p>
				</div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Técnico em Informática</t><br />
                    Escola Ideea Informática <br />
                    <i>180 Horas de Curso</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>DEZ 2006</sm></p>
            </div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EXPERIÊNCIA PROFISSIONAL</h5>
				</div>
				<div class="col-lg-6">
					<p class="tx-fit"><t>Estágio em Desenvolvimento</t><br/>
						Grupo ForLogic. <br/>
					</p>
					<p><more>Modelagem de software baseado no padrão OO. Codificação dos artefatos de software utilizando Plataforma.NET. Desenvolvimento utilizando ASP.NET e C# (Html5, CSS 3, JQuery, Ajax, Json, ExtJS). Definição, planejamento, implementação e gerência de banco de dados (SQL Server). Auxílio na gerência de requisitos e riscos.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>OUT 2015 - JAN 2016</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p class="tx-fit"><t>Estágio em Engenharia</t><br/>
						Itaipu Binacional. <br/>
					</p>
					<p><more>Acompanhamento das atividades de desenvolvimento e suporte do sistema de tempo real. Acompanhamento das atividades desenvolvidas para superintendência de operações. Acompanhamento das atividades do ambiente de rede de automação.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUL 2015 - JUL 2015</sm></p>
				</div>

        		<div class="col-lg-6 col-lg-offset-3">
					<p class="tx-fit"><t>Aux. Administrativo / Téc. Informática</t><br/>
						Cartório Cível da comarca de Primeiro de Maio. <br/>
					</p>
					<p><more>Atendimento ao cliente. Digitação e publicação de sentenças no diário Online. Atualizar andamento de processos via software e dar manutenção de computadores, rede e impressoras do cartório.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>DEZ 2008 - JAN 2010</sm></p>
				</div>


		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--AWARDS DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PREMIAÇÕES</h5>
				</div>
        
                <div class="col-lg-6">
                    <p class="tx-fit">
                        <t>IX Feira da Ideia da UTFPR</t><br />
                        UMI Motions <br />
                    </p>
                    <p><more>Dispositivo de captura de movimento inercial da coluna lompar para auxiliar no tratamento de lombalgias (dores nas costas).</more></p>
                </div>
     
				<div class="col-lg-3">
					<p><sm>OUT 2015</sm></p>
				</div>
		
		</div><!--/.row -->
		<br>
        <hr>
	</div><!--/.container -->
	

     <!--VOLUNTEERING DESCRIPTION -->
	<div class="container desc">
		<div class="row">
            
        <div class="col-lg-2 col-lg-offset-1">
                <h5>VOLUNTARIADO</h5>
        </div>
            <div class="col-lg-6">
                <p class="tx-fit">
                    <t>UTFPR: DACOMP</t><br />
                    Diretor Acadêmico. <br />
                </p>
                <p><more>Intermediação de interesses entre professores/coordenadores e alunos da computação. Organização o Simpósio de Computação Aplicada do Norte Pioneiro do Paraná (SCANPPR), o qual tem como objetivo proporcionar palestras e mini-cursos para estudantes e público em geral.</more></p>
            </div>
            <div class="col-lg-3">
                <p><sm>FEV 2013 - AGO 2014</sm></p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p class="tx-fit">
                    <t>UTFPR: DCE</t><br />
                    Vice-Presidente. <br />
                </p>
                <p><more>Auxiliar no desenvolvimento de propostas melhorar a experiência acadêmica dos alunos. Intermédiação de assuntos da diretoria do campus com outros diretórios. Organizar e registrar em ata as reuniões do DCE. </more></p>
            </div>
            <div class="col-lg-3">
                <p><sm>FEV 2012 - FEV 2013</sm></p>
            </div>


		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Javascript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Wordpress</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 65,
										color:"#1abc9c"
									},
									{
										value : 35,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>Photoshop</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130"></canvas>
						<p>Illustrator</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
					<p><img class="img-responsive" src="../images/port01.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
					<p>CANALS OF ENGLAND</p>
				<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
					<sm><i class="icon-tag"></i> design</sm></more> 
				</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="../images/port02.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>SANKEY</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> front-end</sm></more> 
					</p>
				</div>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="../images/port03.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>WE GROW</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> web design</sm></more> 
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTATO</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						renan.fabrao@gmail.com <br/>
					</p>
					<p><t>Endereço</t><br/>
						Rua Prof. Behair Edna Mendonça, 366. <br/>
                        Bairro: Columbia, Londrina, Paraná. <br />
						Cep: 86057-030. <br/>
					</p>
					<p><t>Telefone</t><br/>
						43 9651-6093 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>REDES SOCIAIS</sm></p>
					<p>
						<!--<a href="#"><i class="icon-dribbble"></i></a>-->
						<!--<a href="#"><i class="icon-twitter"></i></a>-->
						<a target="_blank" href="https://www.facebook.com/re.vicentin"><i class="icon-facebook"></i></a>
						<a target="_blank" href="https://linkedin.com/in/renan-vicentin-fabrão-608a63a4"><i class="icon-linkedin"></i></a>
                        <a target="_blank" href="https://www.instagram.com/renanvicentin/"><i class="icon-instagram"></i></a>
                        <a target="_blank" href="https://github.com/fabrao"><i class="icon-github"></i></a>
						<!--<a href="#"><i class="icon-apple"></i></a>-->

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	<!--
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
		
		</div>
	</div>
	-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../scripts/bootstrap.js"></script>
  </body>
</html>
